<div id="allbg">
	<div class="blueheading1 hvr-wobble-vertical" ng-click="foundation=true;memb=false;" style="cursor: pointer;">
    <h1 class="heading1" style="cursor: pointer;">About BDCoE</h1>
  </div>
  <div ng-show="foundation" class="orig wow fadeIn" data-wow-delay=".3s">
  	<label for="origin">Inaugurated on February 20, 2015</label>
      <p id="origin" class="origpara">The Big Data Centre of Excellence is the Technical Department of Ajay Kumar Garg Engineering College, Ghaziabad, which was inaugurated on April 7, 2015, by Director of AKGEC- Dr R.K. Agarwal. The BDCoE Technical Department comes under HOD of IT Department- Professor (Wg Cdr) Raghunandan Prasad Saw. The Head of BDCoE Technical Department- Mr. Rahul Sharma and under his guidance and collective efforts of BDCoE members, the BDCoE Technical Department is doing well since, its inauguration. </p>
      <img src="/images/about/origin.jpg" class="origimg" title="Inauguration of Big Data Centre of Excellence">
      <div class="lab">
      <label for="#dev">BDCoE Official Website launched on 14 March, 2016</label><br>
      <p>Developed By:</p>
      </div>
      <div class="developerdiv">
      	<div class="developerimg" id="dev"><img src="/images/about/5.jpg"></div>
  		<div class="developerdesc">
  			<label>Ankit Kumar Sharma</label><br>
  			<label>CS-1</label><br>
  			<label>3rd year</label>
  		</div>
      </div>
  </div>
  </div>

  <div class="blueheading hvr-wobble-vertical" style="bottom: 40%;cursor:pointer;" ng-click="foundation=false;memb=true;">
    <h1 class="heading" style="cursor: pointer;">BDCoE Members</h1>
  </div>
  <div ng-show="memb" ng-controller="aboutCtrl" class="wow fadeIn" data-wow-delay=".3s">
  <div class="row" style="position: absolute;top: 17.2%;left: 8%;width: 100%;height: 250px;">
  	<div ng-repeat="member in members" class="memberdiv">
  		<div class="memberimg"><img src="{{member.image}}"></div>
  		<div class="memberdesc">
  			<label>{{member.name}}</label><br>
  			<label>{{member.branch}}</label><br>
  			<label>{{member.year}}</label>
  		</div>
    </div>
  </div>
  </div>
</div>
  