<div id="allbg">
  <div class="blueheading">
    <h1 class="heading">Contact Us</h1>
  </div>
  <div class="row contactrow">
  		<a href="https://www.facebook.com/bigdatacoe/?fref=ts" target="_blank" class="contactimg hvr-buzz-out" style="left: 63%;border-radius: 100px;background-color:white;" target="_blank" title="Official Facebook Page"><img src="/images/icons/facebook.png"></a>
  		<a class="contactimg hvr-buzz-out" style="left: 42%;border-radius: 100px;background-color:white;"><img src="/images/icons/twitter.png" title="Official Twitter Handler"></a>
  		<a class="contactimg hvr-buzz-out" style="left: 20%;border-radius: 100px;background-color:white;"><img src="/images/icons/phone.png" title="+91 90 45 168906"></a>
  	</div>
  </div>
  <div class="blueheading1">
    <h1 class="heading1">Location</h1>
  </div>
  <div class="memberdiv" style="position: absolute;top: 18.1%;left: 8%;width: 29%;padding:2%">
  	<label for="#add" style="position: absolute;top: 9%;">Address:</label>
  	<p id="#add" style="position: absolute;top: 30%;">P.O. Adhyatmik Nagar Adhyatmik Nagar, Hapur Bypass, Bulandshahr Road Industrial Area, Ghaziabad, Uttar Pradesh 201009</p>
  </div>
  <div id="map" style="position: absolute;top: 39%;left: 8%;border-radius:25px">
  <script>
  function initMap() {
  	var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 28.676655, lng: 77.500824},
      zoom: 17
    });
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0mregQ1WYkmvhEDXT2VfuAzpXxAG8e2w&callback=initMap"
  type="text/javascript"></script>
</div>
<div class="blueheading" style="top: 41%;">
    <h1 class="heading">Give Us Feedback</h1>
  </div>
  <div class="feedback">
   <form ng-submit="sendfeedback()" class="feedform">
  	<div class="col-2">
          <label for="#em">
            Your Email
          </label>
          <input type="email" id="em" class="form-control formele" ng-model="feedemail" placeholder="Enter your email" tabindex="1" required/>
    </div>
    <div class="col-2" style="position:relative;height: 55%;">
       <label for="#msg">
          Message</label>
          <textarea id="msg" ng-model="feedmsg" placeholder="Enter your feedback here..." class="formele"></textarea>  
  	</div>
  	<input type="submit" value="Send" class="feedbot" required/>
   </form>
   </div>