<div id="ngdiv">
  <img ng-src="/images/homepage/1.png" class="pic1 wow jello" data-wow-delay="3s">
  <img ng-src="/images/homepage/2.png" class="pic2 wow tada" data-wow-delay="1.5s">
  <img ng-src="/images/homepage/3.png" class="pic3 wow rubberBand" data-wow-delay="8.5s">
  <img ng-src="/images/homepage/4.png" class="pic4 wow swing" data-wow-delay="5s">
  <img ng-src="/images/homepage/5.png" class="pic5 wow tada" data-wow-delay="9.5s">
  <img ng-src="/images/homepage/6.png" class="pic6 wow tada" data-wow-delay="5.5s">
  <img ng-src="/images/homepage/7.png" class="pic7 wow tada" data-wow-delay="6s">
  <img ng-src="/images/homepage/8.png" class="pic8 wow tada" data-wow-delay="12s">
</div>