<div class="feedback" style="left: 19%;top: 10%;">
   <form ng-submit="" class="feedform" ng-submit="askFAQs()">
    <div class="col-2" style="position:relative;height: 55%;">
       <label style="position: absolute;top: 8%;left: -2%;font-size: x-large;" for="#faq">
          Question</label>
          <textarea id="faq" ng-model="faq" placeholder="Enter your Query here..." style="position: absolute;top: 30%;width: 104%;height: 155px;left: -2%;" class="formele"></textarea>  
  	</div>
  	<input type="submit" style="position: absolute;top: 196px;right: -7px;" value="Send" class="feedbot" required/>
   </form>
   </div>
   <div class="feedback">
   <form ng-submit="" class="feedform" ng-submit="askFAQs()">
    <div class="col-2" style="position:relative;height: 55%;">
       <label style="position: absolute;top: 8%;left: -2%;font-size: x-large;" for="#faq">
          Answer</label>
          <p id="faq" style="position: absolute;top: 30%;width: 104%;height: 181px;left: -2%;" class="formele"></textarea>  
  	</div>
   </form>
   </div>