<div class="newsdiv" style="position: absolute;height: 33%;right: 20%;left:30%;min-width: 684px;width: 50%;">
  	<p style="color: #87CEFA;position: relative;font-size: 60px;top: 15%;left: 2%;line-height:14px">To set up your profile pic</p><br>
  	<p style="color: #87CEFA;position: relative;font-size: 60px;top: 13%;left: 3%;line-height:70px"> go to link and register at:</p><br>
  	<p style="color: #87CEFA;position: relative;font-size: 60px;top: 10%;left: 17%;right: 17%;width: 62%;">en.gravatar.com</p>
  </div>