<div id="allbg">
	<div class="blueheading">
    <h1 class="heading">News & Announcements</h1>
  </div>
  <div class="newsdiv" style="left: 16%;width: auto;height: 85px;min-width: 701px;">
  	<p class="news">No News Available Right Now...</p>
  </div>
</div>