<div id="allbg">
	<div class="blueheading">
    <h1 class="heading">News & Announcements</h1>
  </div>
  <div class="newsdiv">
  	<p class="news">No News Available Right Now...</p>
  </div>
</div>