<div id="allbg">
	<div class="blueheading">
    <h1 class="heading">Our Contributions</h1>
  </div>
  	<div class="portdiv wow pulse" style="right:70%">
  		<label for="#saksham" style="position:absolute;left: -2%;">September 30, 2015</label>
  		<a href="https://play.google.com/store/apps/details?id=com.saksham.akgec.saksham&hl=en"target="_blank"><img src="/images/portfolio/saksham1.png" id="saksham" title="Saksham App" class="portimg"></a>
  	</div>
  	<div class="portdiv wow pulse" style="right:50%">
  		<label for="#jsplash" style="position:absolute;left: 4%;">March 4, 2016</label>
  		<a href="https://github.com/ankit939/JSplash-Java-IDE-Application.git"target="_blank"><img src="/images/portfolio/JSplash1.png" id="jsplash" title="JSplash JavaIDE" class="portimg"></a>
  	</div>
  <div class="blueheading3">
    <h1 class="heading3">Workshops Organized</h1>
  </div>
  	<div class="portdiv1 wow pulse" style="right:30%;top: 58%;">
  		<label for="#pig" style="position:absolute; left: -30%;">February 17, 2016 - February 21, 2016</label>
  		<img src="/images/portfolio/2.png" id="pig" title="Pig & Sqoop Workshop" class="portimg">
  	</div>
</div>