<div id="allbg" class="row">
  <div class="blueheading">
    <h1 class="heading">This is What We Do Best</h1>
  </div>
  <div>
    <a ng-click="data=true;web=false;software=false;design=false;mobile=false;"><img src="/images/icons/analytics.png" class="imgicon wow tada" data-wow-delay="1s" style="right:14%;top: 50%;cursor:pointer;" title="Data Analytics"></a>
    <a ng-click="data=false;web=true;software=false;design=false;mobile=false;"><img src="/images/icons/webapp.png" class="imgicon wow tada" data-wow-delay="1s" style="bottom: 4%;right: 14%;cursor:pointer;background-color: white;border-radius: 268px;" title="Web Development"></a>
    <a ng-click="data=false;web=false;software=false;design=false;mobile=true;" ><img src="/images/icons/mobileapp.png" class="imgicon wow tada" data-wow-delay="1s" style="top: 50%;right: 26%;cursor:pointer;" title="Mobile App Development"></a>
    <a ng-click="data=false;web=false;software=false;design=true;mobile=false;"><img src="/images/icons/Designing.png" class="imgicon wow tada" data-wow-delay="1s" style="right: 2%;top: 50%;cursor:pointer;background-color: white;
    border-radius: 268px;" title="Designing"></a>
    <a ng-click="data=false;web=false;software=true;design=false;mobile=false;"><img src="/images/icons/software.png" class="imgicon wow tada" data-wow-delay="1s" style="right:14%;top: 25%;cursor:pointer;" title="Software Development"></a>
  </div>
</div>
<div ng-show="data" class="aboutopt wow fadeInLeft" data-wow-delay=".3s" >
  <div style="left:5px;padding:25px">
      <label>Data Analytics</label>
      <p>Storing and Processing of Big data using resources efficiently. The data is fetched which is processed to get meaningfull and useful information from it and then is saved in the memory efficiently.<br>The processing requires algorithms and techniques like MapReduce in which Mapper functions and Reducer functions are responsible for discreting the problem set in key-value pair and re-integration to get the final combined output.</p>
      <label>Technologies Used</label>
      <p class="font-thin">1. Hadoop Framework,<br>2. MapReduce Technology,<br>3. Pig Framework, and<br>4. Hive and Sqoop tools, and<br>5. R Language.  
      </p>
    </div>
</div>
<div ng-show="web" class="aboutopt wow fadeInLeft">
  <div style="padding:25px">
      <label>Web Development</span></label>
      <p>Building Dynamic Web Pages and SPAs(Single Page Applications). The Dynamic Websites are used widely to give best user-experience.<br>Recently, Single Page Applications are being developed and came into practice, which is an advanced technology which uses AJAX https request and responses to render the web page and reflect data to the user.<br>The websites being developed are now responsive which means website supports all devices  which differs in screen size.</p>
      <label>Technologies Used</label>
      <p class="font-thin">1. DOT NET Framework,<br>2. PHP Language,<br>3. NodeJS and  its Frameworks- SailsJS and ExpressJS Framework,<br>4. AngularJS, and<br>5. MySQL and MongoDB.
    </div>
</div>
<div ng-show="software" class="aboutopt wow fadeInLeft">
  <div style="padding:25px">
      <label>Software Development</label>
      <p>Developing Softwares and Applications for computer systems, which are OS-independent. The Softwares are built to provide functionality to the computer user.The Softwares vary in kinds, some uses local Operating system only while other requires internet access.<br>The softwares must be user-friendly and must be efficient in both time and space complexity. The softwares which are built, must be OS-independent and it can be workable on any type device.</p>
      <label>Technologies Used</label>
      <p>1. Java Swing,<br>2. JavaFX,<br>3. Java Frameworks- Hibernate and Spring Framework, and<br>4. Python and<br>5. MySQL and MongoDB.
    </div>
</div>
<div ng-show="design" class="aboutopt wow fadeInLeft">
  <div style="padding:25px">
      <label>Designing</label>
      <p>Designing logos for Softwares and Websites, and flex for workshops and events. The Designing requires creativity.To create designs which are original in its king is quite tough.<br> The Designing tools are used for creating designs for both logo and flex. The Designing is also done for softwares and websites to design the user-interface.</p>
      <label>Technologies Used</label>
      <p>1.Adobe PhotoShop, and<br>2.Adobe Premium Pro.
    </div>
</div>
<div ng-show="mobile"  class="aboutopt wow fadeInLeft">
  <div style="padding:25px">
      <label> Mobile App Development</span></label>
      <p>Creating Apps for both Java and Android mobile phones. The smartphones requires various apps which provide functionality to users, entertainment by videos and music playing or connecting people by social apps.<br>The mobile devices whether it is Java or Android mobile phone, requires apps which must be efficient in both time and space complexity.<br>The type of mobile apps vary with the user needs, some uses data files itself and while other uses internet access.</p>
      <label>Technologies Used</label>
      <p>1. Android SDK.
    </div>
    
</div>